body {
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: brown;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: aliceblue;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.5;
}

.btn {
    background-color: brown;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: brown;
}

.img-error {
    margin-top: 40px;
    width: 280px;
    opacity: 0.9;
    border-radius: 12px;
}
@font-face {
  font-family: "Texto";
  src: url("../css/fonts/Merriweather/Merriweather_24pt-Regular.ttf") format('truetype');
}


@font-face {
  font-family: "Titulos";
  src: url("../css/fonts/Cinzel/Cinzel-Bold.ttf") format('truetype');
}

