

body {
    background-color: black; 
    color: aliceblue; 
    text-align: center;
    font-family: "Texto";
}

h1 { color: brown; 
    font-family: "Titulos";
    font-size: 6rem;
    text-align: center;
  
}

p {
  
  margin-bottom: 1rem;

}



h2 { color: brown; 
    font-family: "Titulos";
    font-size: 2rem;
    margin: 20px 0 10px;
    
  
    
}

h3 { color: brown ; 
    font-family: "Titulos";
    font-size: 1.8rem;
    margin: 20px 0 10px;
    
  
    
}

@font-face {
  font-family: "Texto";
  src: url("../css/fonts/Merriweather/Merriweather_24pt-Regular.ttf") format('truetype');
}


@font-face {
  font-family: "Titulos";
  src: url("../css/fonts/Cinzel/Cinzel-Bold.ttf") format('truetype');
}



a {
    font-family: "Texto";
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    color: aliceblue;
}

a:hover {
    color: brown;
}


footer {
    margin-top: 30px;
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
    background-color: black;
    color: aliceblue;
}





.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: flex-start;
    column-gap: 30px;  
    row-gap: 30px;      
    margin: 20px auto;
    max-width: 1200px;
}



.card {
    position: relative;
    width: 300px;
    height: 450px;             
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    }



.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    opacity: 0.9;
}



.card:hover img {
    transform: scale(1.05);
}




.card-info {
    position: absolute;
    inset: 0;                  
    background: black (0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}


.card:hover .card-info {
    opacity: 1;
    pointer-events: auto;
}

